
body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App>* {
  flex: 1;
}